/* === KHUNG CHÍNH === */
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 40px;
    gap: 25px;
    max-width: 1300px;
    margin: auto;

}

/* === CỘT TRÁI === */
.cart-left {
    flex: 2;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.select-all {
    background: #f8ffe9;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.select-all label {
    font-weight: 600;
    color: #444;
}

.select-all input[type="checkbox"],
.cart-item input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.1);
    cursor: pointer;
    accent-color: #b68950;
}


/* === ICON XÓA === */
.delete-btn {
    background: none;
    border: none;
    color: #999;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    color: #e67e22;
    transform: scale(1.1);
}

/* === SỐ LƯỢNG === */
.quantity {
    display: flex;
    align-items: center;
    gap: 6px;
}

.quantity button {
    width: 28px;
    height: 28px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.quantity span {
    min-width: 20px;
    text-align: center;
    font-weight: 600;
}

/* === CỘT PHẢI === */
.cart-right {
    flex: 1;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.cart-right h3 {
    font-weight: 700;
    color: #74512D;
    text-align: center;
    margin-bottom: 15px;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.cart-right .quantity-total,
.cart-right .total,
.cart-right .final-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    color: #000;
}

.cart-right .quantity p,
.cart-right .total p,
.cart-right .final-total p {
    flex: 1;
}

.cart-right .quantity span,
.cart-right .total span,
.cart-right .final-total span {
    width: 100px;
    text-align: right;
    color: #e67e22;
    font-weight: bold;
}


/* === RESPONSIVE === */
@media (max-width: 900px) {
    .cart-container {
        flex-direction: column;
    }
}