.form {
    background-color: #fff;
    padding: 40px 45px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    text-align: center;
}

/* ===== TITLE ===== */

body {
    font-family: "Segoe UI", sans-serif;
    background-color: white;
    margin: 0;
    color: #6F4E37;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

input-cp.editing {
    border: 1px solid #A79277;
    background: #fff;
    padding: 4px 6px;
    border-radius: 5px;
}



.account-container {
    display: flex;
    min-height: 100vh;
    background: white;
}


.form-title {
    font-size: 22px;
    color: #222;
    font-weight: 600;
    margin-bottom: 25px;
}

/* ===== INPUT FIELDS ===== */
.input-cp {
    width: 90%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 12px;
    outline: none;
    transition: 0.3s;
}

.input-cp:focus {
    border-color: #A79277;
    box-shadow: 0 0 5px #A79277;
}

/* ===== BUTTON ===== */
.submit-btn {
    width: 60%;
    padding: 12px 0;
    background-color: #A79277;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #74512D;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
    .form {
        padding: 30px 25px;
    }
}