/* === BODY CHUNG === */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* === FOOTER CHUNG === */
.footer {
    margin-top:40px ;
    background: #6F4E37;
    color: #F8F4E1;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: start;
}

.footer-col h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    padding-left: 30px;
    margin: 8px 0;
}

.footer-col a {
    text-decoration: none;
    color: #F8F4E1;
    font-size: 13px;
}

.footer-col a:hover {
    color: #ECB176;
}

/* === KHUNG CHUNG CHO 3 ICON === */
.social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border: 2px solid #F8F4E1;
    border-radius: 12px;
    background-color: rgba(255, 250, 240, 0.1);
    width: fit-content;
    margin: 10px auto;
}

/* Icon bên trong */
.social-icons a {
    font-size: 18px;
    color: #F8F4E1;
    padding: 5px;
    transition: color 0.3s, transform 0.2s;
}

.social-icons a:hover {
    color: #ECB176;
    transform: translateY(-2px);
}

.footer-col p {
    font-size: 13px;
}

/* Dòng cuối footer */
.footer-bottom {
    text-align: center;
    font-size: 13px;
    color: #F8F4E1;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
    height:  fit-content;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

@media (max-width: 600px) {
    .footer-columns {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
