/* ---------- FORM QUÊN MẬT KHẨU ---------- */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease;
}

.content .form-title {
    color: #000;
    margin-bottom: 25px;
}

.content .form-holder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.content .input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    transition: border-color 0.2s;
    height: 25px;
}

.content .input:focus {
    border-color: #74512D;
}

.content .submit-btn {
    display: block;
    text-align: center;
    background-color: #A79277;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 15px 45px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 13px;
}

.content .submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}